<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Customer Portal</h1>
    <p>Welcome to the Customer Portal</p>
    <br/>
    <p>Please select your operation</p>
    <ul>
    	<li>Add a Customer</li>
    	<li>Show Customer Details</li>
    	<li>List All Customers</li>
    	<li>Delete a Customer</li>
    	<li>Update a Customer - TBD</li>
    </ul>
    <p>This approach is traditional where a mixture of HTML and Jquery can populate this page with the help of dynamic JSONs. I am jumping on to better things, like Angular JS and Backbone JS for the same purpose.</p>
  </body>
</html>
