<!DOCTYPE html>
<html ng-app="customerPortalApp">
  <head>
    <title>Sonic Customer Portal</title>
    <script type="text/javascript" src="./public/js/angular.min.js"></script>
    <script type="text/javascript" src="./public/js/customerportal.js"></script>
    <link rel="stylesheet" type="text/css" href="./public/css/bootstrap.min.css" />
  </head>
  <body ng-controller="customerController as customer">
    <header>
      <h1 class="text-center">Sonic Customer Portal v2</h1>
      <h2 class="text-center">Welcome to the Customer Portal</h2>
    </header>
    <br/>
    <p class="text-center">This page (indexv2.html) is the second version of how an angular app can be written in a modular way using controllers.<br/>
    A new version of this will be built, indexv3.html, that will have even better code readability by breaking them into multiple directives.</p><br/>

    <div class="list-group">
      
      <!-- Tabs Go Here -->
      <section ng-init="panel.selectTab(1)" ng-controller="panelController as panel">
        <ul class="nav nav-pills text">
          <li ng-class="{active:panel.isTabSelected(1)}">
            <a href ng-click="panel.selectTab(1)">Add a Customer</a>
          </li>
          <li ng-class="{active:panel.isTabSelected(2)}">
            <a href ng-click="panel.selectTab(2)">List Customers</a>
          </li>
          <li ng-class="{active:panel.isTabSelected(3)}">
            <a href ng-click="panel.selectTab(3)">Show Customer Details</a>
          </li>
          <li ng-class="{active:panel.isTabSelected(4)}">
            <a href ng-click="panel.selectTab(4)">Delete a Customer</a>
          </li>
          <li ng-class="{active:panel.isTabSelected(5)}">
            <a href ng-click="panel.selectTab(5)">Update a Customer</a>
          </li>
        </ul>
        
        <!-- Panels go here -->
        <div class="panel" ng-show="panel.isTabSelected(1)">
            <h4>Enter the form fields to Add a Customer</h4>
        </div>
        <div class="panel" ng-show="panel.isTabSelected(2)">
            <h4>Here is the listing of all the customers</h4>
            <div>
                <ul>
                    <li ng-repeat="customer in customers">{{customer.firstName}} {{customer.lastName}}</li>
                </ul>
                <input type="submit" value="Refresh"/>
            </div>
        </div>
        <div class="panel" ng-show="panel.isTabSelected(3)" ng-controller="showController as showCtrl">
            <h4>Enter the customer username to find out more details:</h4>
            <form name="showCustomerForm" ng-submit="showCtrl.getDetails()">
              <input ng-model="showCtrl.username" ng-focus="showCtrl.username=''" type="text" name="username" />
              <input type="submit" value="Show Details"/>
            </form>
            <br/>
            <div ng-show="userFound">
              Name: {{user.firstName}} {{user.lastName}}<br/>
              Age: {{user.age}}<br/>
              Sex: {{user.sex}}<br/>
              Profession: {{user.profession}}<br/>
              DOB: {{user.dob | date:'MM/dd/yyyy'}}<br/>
            </div>
            <div ng-show="!userFound">
              {{status}}
            </div>        
        </div>
        <!-- Another way of submission -->
        <!-- 
        <div class="panel" ng-show="panel.isTabSelected(3)" ng-controller="showController as showCtrl">
            <h4>Enter the customer username to find out more details:</h4>
            <input ng-model="showCtrl.username" type="text" name="username" />        
            <button ng-click="showCtrl.getDetails()">greet</button>
        </div> 
        -->
         <div class="panel" ng-show="panel.isTabSelected(4)" ng-controller="deleteController as deleteCtrl">
            <h4>Enter the customer username to delete the customer</h4>
            <form name="deleteCustomerForm" ng-submit="deleteCtrl.deleteUser()">
              <input ng-model="deleteCtrl.username" ng-focus="deleteCtrl.username=''" type="text" name="username" />
              <input type="submit" value="Delete Customer"/>
            </form>
            <br/>
            {{status}}
        </div>
        <!--
        <div class="panel" ng-show="panel.isTabSelected(5)">
            <h4>Search the customer by username and then edit the details and update</h4>      
        </div>
        -->
      </section>
    </div>
  </body> 
</html>